.Beaf {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  flex-grow: 1;
}

.Beaf a {
  color: inherit;
}

.BeafHeaderTitle,
.BeafPaneHeader,
.BeafHeaderMenu,
.BeafHeaderMenuItem {
  margin: 0;
  padding: 0;
}

.BeafHeader {
  display: flex;
  align-items: center;
  padding: 0.8rem;

  overflow: hidden;
  z-index: 2;
}

.BeafHeaderTitle {
  flex-grow: 1;
  font-weight: bold;
}

.BeafHeaderMenu {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
}

.BeafHeaderMenuItem {
  margin-left: 0.8rem;
}

.BeafPanes {
  position: relative;
  flex-grow: 1;
}

.BeafPane {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.BeafPaneHeader {
  padding: 0.4rem 0.8rem;
}

.BeafPaneContent {
  position: relative;
  flex-grow: 1;
}

.BeafEditor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Resizer.vertical {
  width: 10px;
  margin-right: -5px;
  margin-left: -5px;
  cursor: col-resize;
  z-index: 1;
}
